header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #E5E4E2;
}

header li{
    list-style-type: none;
}

.logo{
    font-size: 20px;
    color: black;
}

.link{
    text-decoration: none;
}

@media(max-width: 600px){
    header{
    flex-direction: column;
    }
}